.familyInfo {
    text-align: left;
    margin-left: 10px;
}
h4 {
    margin-left: 40px;
}

.familyBook {
    text-align: center;
    border: solid;
    margin-left: 650px;
    margin-right: 650px;
    padding-bottom: 20px;
}